*{
  margin: 0;
  padding: 0;
}

body{
width: 100%;
min-height: 100vh;
background: rgb(82,100,208);
background: linear-gradient(346deg, rgba(82,100,208,1) 0%, rgba(246,236,144,1) 100%);
text-align: center;
}

h1{
text-align: center;
margin-top: 50px;
font-size: 80px;
}